{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans
"Sign Out" %}{% endblock %} {% block content %}

<style type="text/css">
  input {

    border: 1px solid #ced4da !important;

}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 200px; /* the bottom margin is the negative value of the footer's height */
}
</style>


<div class="container">
<div class="wrapper">
<div class="row offset-4">

    <!-- <div class="col-md-6 offset-3"> -->
<!-- <h1>{% trans "Sign Out" %}</h1> -->

<span>
<p>Do you want to sign out ?</p>
<br>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %} {% if redirect_field_value %}
  <input
    type="hidden"
    name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}"
  />
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans 'Sign Out' %}</button>
</form>
</span>
<!-- </div> -->

</div>
</div>
</div>
<br>
{% endblock %}
